:root {
    --primarly: #7CD2B0;
    --secondary: #9D9D9D;
    --background: #1A1A25;
    --accent: #000000;

}

.header {
    position: fixed;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.63));
}

.header_logo {
    display: flex;
    align-items: center;

    margin-left: 13px;
}

.header_panel {
    display: flex;
    align-items: center;

    margin-right: 13px;
}

.body {
    width: 100%;
    min-height: 100vh;
    padding: 50px 0px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;  
}

.body_filters {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: fit-content;
    margin: 0px auto;
}

.body_filter {
    width: fit-content;
    border-radius: 24px;
    border: 1px solid var(--primarly);
    background: var(--background);

    margin: 0 auto;
    padding: 6px 0px;

    display: flex;
    justify-content: space-around;
}

.body_filter > .body_filter__button {
    color: var(--secondary);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: auto;
    height: 24px;
    padding: 0px 23px;
    border-right: 1px solid var(--primarly);
    
    display: flex;
    justify-content: center;
}

.body_filter > .body_filter__button:last-child {
    border: none;
}

.body_filter > .body_filter__button > div {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.body_search {
    width: 309px;
    height: 35px;
    border-radius: 24px;
    border: 1px solid var(--primarly);
    background: var(--background);

    margin: auto;
}

.body_search__text {
    color: var(--secondary);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    margin: 10px 234px 9.55px 31px;
}

.guide_cards {
    margin-top: 24.31px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.guide_card {
    width: 309px;
    height: 161.857px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: rgba(26, 26, 37, 0.50);
    margin-top: 20.14px;
}

.guide_card__logo {
    width: 91.229px;
    height: 91.229px;
    flex-shrink: 0;
    border-radius: 24px;
    background: lightgray 50% / cover no-repeat; 

    margin-top: 18.39px;
    margin-left: 22.07px;
}

.guide_card__button {
    width: 91.229px;
    height: 22.071px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--primarly);
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 22.07px;
    margin-top: 10.3px;
}

.guide_card__button__text {
    display: flex;
    width: 44.143px;
    height: 13.243px;
    flex-shrink: 0;
    color: var(--primarly);
    text-align: center;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}